In [1]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

# May use Scrapping if I have time
#from splinter import Browser
#from bs4 import BeautifulSoup
#from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Set variable with url to be scrapped
url = "https://data-class-mars-challenge.s3.amazonaws.com/Mars/index.html"

In [3]:
# Read in url using pandas and set the list to a tables variable
tables = pd.read_html(url)

[        id terrestrial_date   sol   ls  month  min_temp  pressure
 0        2       2012-08-16    10  155      6     -75.0     739.0
 1       13       2012-08-17    11  156      6     -76.0     740.0
 2       24       2012-08-18    12  156      6     -76.0     741.0
 3       35       2012-08-19    13  157      6     -74.0     732.0
 4       46       2012-08-20    14  157      6     -74.0     740.0
 ...    ...              ...   ...  ...    ...       ...       ...
 1862  1889       2018-02-23  1973  133      5     -78.0     730.0
 1863  1892       2018-02-24  1974  134      5     -77.0     729.0
 1864  1894       2018-02-25  1975  134      5     -76.0     729.0
 1865  1893       2018-02-26  1976  135      5     -77.0     728.0
 1866  1895       2018-02-27  1977  135      5     -77.0     727.0

 [1867 rows x 7 columns]]

In [4]:
# Set the first tables in the tables list as a dataframe
mars_temp_df = tables[0]
mars_temp_df

        id terrestrial_date   sol   ls  month  min_temp  pressure
0        2       2012-08-16    10  155      6     -75.0     739.0
1       13       2012-08-17    11  156      6     -76.0     740.0
2       24       2012-08-18    12  156      6     -76.0     741.0
3       35       2012-08-19    13  157      6     -74.0     732.0
4       46       2012-08-20    14  157      6     -74.0     740.0
...    ...              ...   ...  ...    ...       ...       ...
1862  1889       2018-02-23  1973  133      5     -78.0     730.0
1863  1892       2018-02-24  1974  134      5     -77.0     729.0
1864  1894       2018-02-25  1975  134      5     -76.0     729.0
1865  1893       2018-02-26  1976  135      5     -77.0     728.0
1866  1895       2018-02-27  1977  135      5     -77.0     727.0

[1867 rows x 7 columns]

In [10]:
# Print data types
print(mars_temp_df.dtypes)

id                    int64
terrestrial_date     object
sol                   int64
ls                    int64
month                 int64
min_temp            float64
pressure            float64
dtype: object

In [13]:
# Convert terrestrial_date column to data type datetime
mars_temp_df["terrestrial_date"] = pd.to_datetime(mars_temp_df["terrestrial_date"])

In [16]:
# Check data type has changed
print(mars_temp_df.dtypes.terrestrial_date)

datetime64[ns]

Analyse the data by answering the following questions.

1. How many months exist on Mars?

2. How many Martian (and not Earth) days' worth of data exist in the scraped dataset?

3. What are the coldest and the warmest months on Mars (at the location of Curiosity)? Get the answer by averaging the minimum daily temperature of all the months. Plot the results as a bar chart.

4. Which months have the lowest and the highest atmospheric pressure on Mars? Get the answer by averaging the daily atmospheric pressure of all the months. Plot the results as a bar chart.

5. About how many terrestrial (Earth) days exist in a Martian year? That is, in the time that Mars circles the Sun once, how many days elapse on Earth? Visually estimate the result by plotting the daily minimum temperature.

In [21]:
# 1. How many months exist on Mars?

# count how many unique months there is in the dataframe
no_months = len(mars_temp_df["month"].unique())

# Print result
print(f"There is {no_months} months on Mars")

There is 12 months on Mars

In [ ]:
# Graph displaying question 1 results

In [22]:
# 2. How many Martian (and not Earth) days' worth of data exist in the scraped dataset?

# count how many unique days there is in the dataframe
no_days = len(mars_temp_df["sol"].unique())

# Print result
print(f"There is {no_days} Martian days worth of data in scraped dataset")

There is 1867 Martian days worth of data in scraped dataset

In [ ]:
# Graph displaying question 2 results

In [31]:
#3. What are the coldest and the warmest months on Mars 
# (at the location of Curiosity)? Get the answer by averaging 
# the minimum daily temperature of all the months. 
# Plot the results as a bar chart.

# group dataframe by month
mars_temp_group_month = mars_temp_df.groupby("month")

# store the mean values of min_temp to new variable
mean_temp_by_month = mars_temp_group_month.mean()["min_temp"]

# Grab max and min of the mean min_temp by month adn store them as variables
mean_temp_by_month_min = mean_temp_by_month.min()
mean_temp_by_month_max = mean_temp_by_month.max()

# Print result
print(f"The month with the coldest average temperature ")

In [35]:
mean_temp_by_month

month
1    -77.160920
2    -79.932584
3    -83.307292
4    -82.747423
5    -79.308725
6    -75.299320
7    -72.281690
8    -68.382979
9    -69.171642
10   -71.982143
11   -71.985507
12   -74.451807
Name: min_temp, dtype: float64

In [54]:
mean_temp_by_month.index(min(min_temp))

NameError: name 'min_temp' is not defined

In [43]:
mean_temp_by_month.max()

-68.38297872340425